<!doctype html>
<html lang="en">
<head>
<title>Details Page</title>
<meta charset="utf-8">
<!-- disable iPhone inital scale -->
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<!-- media queries css -->
<link href="media-details.css" rel="stylesheet" type="text/css" />
<!-- main css -->
<link rel="stylesheet" href="style-details.css" type="text/css" media="screen, projection"/>
<!-- html5.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- css3-mediaqueries.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

</head>

<body>
<!--Log div starts-->
<div id="page">

	<header id="logo_Header">	
	<nav>
         <ul id="menu">
          <li id="logo"><%= image_tag "mobimall.png" %></li>
          <li><%=image_tag "Search.png", :id => "left_part",  :style => "vertical-align:middle;" %><input type="search" placeholder="Search Store" id="searchbox"/><%=image_tag "right.png",   :style => "vertical-align:middle;" %></li>
          <li id="name">Hello, Guest</li>
          <li id="items_btn"><input type="button" value="+40 New Feed Items"/></li>
          <li id="user_btn"><input type="button" style=""/></li>
          <li id="cart_btn"><input type="button" style=""/></li>
         </ul>
	</nav>
	</header>

	<section id="main">
	<div id="cost_details">
        <%= image_tag "fifa.png", :id => "fifa_img" %>
	    <p id="cost">$2.99</p>
	    <input type="button" id="add_cort" onclick="document.location.href='../creditCardDetails/credicarddetails.html'"/><br/>
        <%= image_tag "stars.png", :id => "stars" %>
	</div>

	<div id="discription">
	    <nav>
            <ul id="discription_nav">
                <li>
                    <p id="fifa_2012">FIFA 2012</p>
                  <%= image_tag "heart.png", :id => "heart_icon" %>
                  <%= image_tag "comment.png", :id => "chat_icon" %>
                  <%= image_tag "twitter.png", :id => "twitter_icon" %>
                  <%= image_tag "facebook.png", :id => "facebook_icon" %>
                  <%= image_tag "mail.png", :id => "email_icon" %>


                </li>
            </ul>
	    </nav>
	</div>
	<div id="text_des" style="float:left;width:50%">
	    <p id="desc">
          Experience the action of your favorite sport like never before!
          Watch matches come to life with vibrant graphics,ultra-realistic animations, and the most responsive controls
          ever delivered on a FIFA game for iOS.For the first time ever,experience Manager Mode
          on your iPhone,iPad and iPod touch.Make trades,upgrade staff,and scout for talent.
          Develop players and choose the best tactics to take your club to the top of the league
          table.<br/><br/>Featuring over 22 officially licensed leagues,500 licensed teams and more than 15,000
          players. Take to the pitch with superstars like Kaka, Wayne Rooney,Gerard Pique,Karim
          Benzema and more.From the English Premiership and La Liga, to the German Bundesliga
          and beyond- dominate your league and march toward glory in 32 authentication stadiums.
        </p>
	</div>
	
	<div id="game_img">
        <ul id="imgs_bar">
        <li>
          <%= image_tag "soccerOne.png", :id => "s_one" %>
          <%= image_tag "soccerTwo.png", :id => "s_two" %>
          <%= image_tag "menu.png", :id => "menu_img" %>
         </li>
         </ul>
	</div>
	<div style="clear:both"></div>
	</section>

<!--Main div Ends-->
<!--Footer div starts-->
<footer id="home_footer">
	<nav id="footerimages" >
	<ul>
		<li><input type="button" class="home_btn"/></li>
		<li><input type="button" class="wallpapers_btn"/></li>
		<li><input type="button" class="ringtones_btn"/></li>
		<li><input type="button" class="music_video_btn"/></li>
		<li><input type="button" class="games_btn"/></li>
	</ul>
	</nav>
</footer>
<!--footer div ends-->
</div>

</body>
</html>